.carouselTitle {
  font-size: 48px;
  font-family: "Proxima Nova Alt Semi Bold", Arial, sans-serif !important;
}

.carouselDesc {
  font-size: 16px;
  font-family: "Proxima Nova Alt Reg", Arial, sans-serif !important;
}
